{:paths ["src"]
 :deps {org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/math.combinatorics {:mvn/version "0.3.0"}
        nrepl/nrepl {:mvn/version "1.3.0"}
        clj-http/clj-http {:mvn/version "3.13.0"}}}
